<!DOCTYPE html>
<html lang="it">

<head>
    <meta name="description" content="Risultati della ricerca">
    <%- include('./partials/head.ejs') %>
    <title>Ricerca EV3NTO</title>
    <% if(!q) { %>
    <script src="/js/refetchOnSlider.js" defer></script>
    <% } %>
    <script src="/js/fetchMyEvents.js" defer></script>
    <link rel="stylesheet" href="/css/eventsList.css">
</head>

<body class="bg-black text-white">
<%- include('./partials/header.ejs') %>
    <main>
        <div class="container-sm">
            <h2 class="display-5 mt-3">
            <% if (q) { %>
                Risultati ricerca per "<span id="query"><%-q%></span>"
            </h2>
            <% } else { %>
                Nelle vicinanze</h2>
                <form action="/ricerca/vicinanze" method="get" id="rangeform">
                    <label for="dist" class="form-label">Distanza massima: <span id="dist-val">15km</span></label>
                    <input type="range" class="form-range" min="1" max="100" id="dist" name="dist">
                </form>
            <% } %>
            <div class="card text-center border-0 mb-2">
                <div class="card-body bg-dark">
                    <button hidden class="btn btn-outline-light mb-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#old-events" aria-expanded="false"
                        aria-controls="old-events" id="toggle-old">
                        Eventi passati
                    </button>
                    <div class="collapse border-bottom border-secondary" id="old-events"></div>
                    <%- include('./partials/eventcard.ejs') %>
                </div>
            </div>
        </div>
    </main>
<%- include('./partials/footer.ejs') %>
</body>

</html>