<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>EV3NTO</title>
</head>

<body class="bg-black text-white">
    <%- include('./partials/head.ejs') %>
    <main>
        <div class="container-sm">
            <h2 class="display-5 mt-3">Risultati ricerca:</h2>
            <div class="card bg-dark">
                <div class="card-body">
                    <%- include('./partials/eventcard.ejs') %>
                    <%- include('./partials/eventcard.ejs') %>
                    <%- include('./partials/eventcard.ejs') %>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>